src/main/mule/github-actions-mule-cidc-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="github-actions-mule-cidc-demoFlow" doc:id="16ae5b05-48fb-46f9-95cd-e2208302956c" >
		<http:listener doc:id="6f5caedf-c2fd-4fac-a557-01aafea2cdaf" doc:name="" config-ref="HTTP_Listener_config" path="/test" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="6696b514-81d4-4eb6-a955-76c111c57e8e" message="#[payload]"/>
		<http:request method="GET" doc:name="Request" doc:id="5322188b-36fa-41a4-bb9f-8fc6c1ba0640" config-ref="HTTP_Request_configuration" path="/random"/>
		<ee:transform doc:name="Transform Message" doc:id="1ffce9f0-ae0d-407b-9205-f22a1db495b8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.content]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="88240b49-da1b-4355-ac03-9d58e26b1878" message="#[payload]"/>
	</flow>
</mule>
